{% extends "base.html" %}
{% block title %}
Transport in {{ location }}
{% endblock title %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities in {{ location }}</title>
</head>    
 
<section class="modalities">
    <h2>Μέσα μεταφοράς</h2>
    <ul>
        <li>
            <h3>Ποδήλατα</h3>
            <p>Οι Σπέτσες αποτελούν ιδανικό προορισμό για να μετακινηθεί κάποιος με ποδήλατο ή μοτοποδήλατο, σε μικρές ή μεγάλες αποστάσεις, σε ασφαλτοστρωμένους ή χωμάτινους δρόμους.</p>
        </li>
        <li>
            <h3>Λεωφορεία</h3>
            <p>Υπάρχουν δύο λεωφορεία που λειτουργούν μόνο τους μήνες της τουριστικής περιόδου και εκτελούν δύο διαφορετικές διαδρομές.</p>
            <ul>
                <li>
                    <h4>Αφετηρία: Άγιος Μάμας</h4>
                    <p>Αφετηρία την παραλία του Αγίου Μάμα, και κατεύθυνση προς την Αγία Μαρίνα, τον Κουζουνό, την Ξυλοκέριζα, τους Αγίους Αναργύρους και τέρμα στην παραλία της Αγίας Παρασκευής.</p>
                </li>
                <li>
                    <h4>Αφετηρία: Στάδιο</h4>
                    <p>Αφετηρία το στάδιο των Σπετσών, και κατεύθυνση προς την Αγία Μαρίνα, τον Κουζουνό, την Ξυλοκέριζα, το λιμάνι και τέρμα στην παραλία της Αγίας Παρασκευής.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3>Καΐκια</h3>
            <p>Τους θερινούς μήνες, παραδοσιακά καΐκια εκτελούν δρομολόγια προς τις πιο μακρινές, και για πολλούς τις πιο όμορφες, παραλίες του νησιού.</p>
            <p>Καθημερινά δρομολόγια γύρω στις 12.00 αναχωρούν από το κεντρικό λιμάνι για τις παραλίες των Αγίων Αναργύρων, Αγίας Παρασκευής και Ζωγεριάς.</p>
        </li>
    </ul>
</section>

{% endblock %}
